.home{
    min-height: 100vh;
    margin: auto;

}

.home__bg-container{
    position: relative;
    border-radius: 5px;
    height: calc(90vh - .5em);
    min-height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


    

.logo__home{
    width: 3rem;
    color: var(--primary-color);
    margin: 0;
    position: absolute;
    top: .5rem;
    left: 5rem;
}

.home__text-container{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}



.home__line-text{
    display: block;
}

/* Text.home__line-text:nth-child(1){
    font-size: clamp(2.5em,3vw,3.5em);
    color: var(--text-primary-color);
    margin-bottom: 1rem;
}*/

.home__line-text:nth-child(1){
    font-size: clamp(3em,4vw,4em);
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.home__line-text:nth-child(2){
    font-size: clamp(2.5em,3vw,3.5em);
    color: var(--text-second-color);
    margin-bottom: .5rem;
}
.home__line-text:nth-child(3){
    font-size: clamp(2.5em,3vw,3.5em);
    color: var(--text-second-color);
    margin-bottom: 3rem;
}
.home__line-text:nth-child(4){
    font-size: clamp(2em,2vw,2em);
    color: var(--text-second-color);
    max-width: 98%;

}

  

.language-btn{
    position: absolute;
    top: .5em;
    right: 5em;
    padding: .5rem;
    font-weight: 700;
    font-size: 1.2rem;
    &:hover{
        background-color: var(--second- )
}}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



button {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 30px;
    background: #1A2929;
}

span {
    display: block;
    padding: 2px 8px;
}

button::before,
button::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background:var(--primary-color);
}

span::before,
span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background:var(--primary-color);
}

button:hover::before,
button:hover::after {
    width: 100%;
}

button:hover span::before,
button:hover span::after {
    height: 100%;
}

button::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

button span::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

button::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

button span::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}


.wrapper {
    height: 5rem;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
.line-text{
    font-size:clamp(2.5em,3vw,3.5em);
    color: var(--text-second-color);
    font-weight: bolder;
}
  
.typing-demo {
    width: 20ch;
    animation: typing 2s steps(9), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em;
}

@keyframes typing {
from {
    width: 0
}
}
    
@keyframes blink {
50% {
    border-color: transparent
}
}
@media screen and (min-width:726px){
    .home__msg{
        transform: translate(0,0%);
    }
    .home__bg-container{
        height: calc(100vh - 1em);
    }
}

@media screen and (max-width:726px){
    .line-text {
        margin-top: 4rem;
    }
    .language-btn{
        margin: -.5rem;
        right: 2rem;
    }
    .logo__home{
        left: 2rem;
    }
    .home__text-container{
        top:6rem;

    }
    .home__text{
            margin-top:2rem;
        }
}  
