.title__web{
    color: var(--primary-color) !important;
    text-align: center;
    font-size: 2.5rem;
}

.project_grid{
    display: grid;
    max-width: 1000%;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    align-content: center;
    margin:2rem 10rem 6rem;
}

.project_item{
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 10px;
    max-height: 250px;
    overflow: hidden;
    
}
.project_img{
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: 1s;
    object-position: top;
    width: 100%;

}
.project_info{
    display: flex;
    flex-direction: column;
    align-items:center;

    background-color: #50f0ffc0;
    border-radius: 10px;
    height: 250px;
    width: 100%;
    position: absolute;
    top: 250px;
    transition: all 0.5s;
    padding: 5px;

}

.project_info_title{
    margin: 25px;
    font-size: 2.8rem;
    color: var(--text-primary-color);
    font-weight:bold;
    text-align: center;
    filter: drop-shadow(0 0 5px var(--primary-color));

}

.project_info_description{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--bg-card-color);
}
.project_btn_container{
    display: flex;
    justify-content: center;
    width: 80%;
}
.btn_project{
    text-decoration: none;
    color: var(--second-color);
    background-color: var(--text-primary-color);
    display: block;
    padding: 7px;
    margin: 10px;
    border-radius: 5px;
    transition: 0.4s;
}
.project_item:hover > .project_info{
    transform:translateY(-250px) ;
}
.project_item:hover > img {
    transform: scale(1.2);
}
.btn_project:hover{
    transform: scale(1.2);
    color: #113d41;
}

@media screen and (max-width:990px){
.project_grid{
    grid-template-columns: repeat(2,1fr);
    margin: 0px;
    gap: 20px;
}
.project_item{
    width: 100%;
    margin-bottom: 10px;
    margin: 0px;
    max-height: 450px;
    
}
}

@media screen and (max-width: 858px){
    .project_grid{
        grid-template-columns: 1fr;
        margin: 0px;
        gap: 20px;
        padding: 0px;
    }
    .arrow {
        display:none;
    }
    
    .project_info_title{
        margin: 1rem;
        font-size: 2rem;
    }
}

  .arrow {
    position: absolute;
    top: 42rem;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

